body {
    background-color: #FFFFFF;
    -webkit-transition: all 1s ease;
    margin: 0px;
}

body.dark {
    background-color: #00072B;
    color: white;
}

.container {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* what I use for debugging!
div {
    border: 1px solid black;
}
*/

/* nav and title
--------------------------- */

.header-container {
    background-color: #000238;
}

.main-title {
    padding-top: 1em;
    margin: 0px auto;
    text-align: center;
    color: white;
}

#darkify-button{
    font-size: 0.5em;
    text-align: center;
    cursor: pointer;
}

#navbar-ghost {
    height: 50px;
}

.hidden {
    display: none;
}

.nav-container {
    text-align:center;
    height: 50px;
    background-color: #5A006B;
    box-sizing: border-box;
    border-top: 0px solid black;
    border-bottom: 1px solid #000000;
    -webkit-transition: all 1s ease;
    overflow-x: auto;
    overflow-y:hidden;
}

.nav-container.dark {
    background-color: #00072B;
    border-bottom: 1px solid white;
}

.nav-container.dark a {
    color: white;
}

.nav {
    border: 0px solid black;
    margin: 1em auto;
    width: auto;
}

.nav-fixed {
    width: 100%;
    position:fixed;
    top:0px;
    left: 0px;
    -webkit-transition: all 1s ease;
}

.nav a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin: 0em 0.5em;
    -webkit-transition: all 0.3s ease;
}

.nav a:hover {
    color: #779999;
}

.nav-container::-webkit-scrollbar {
    display:none;
}


/* CONTENT AREA
--------------------------- */

.content-container {
    margin: 1.5em auto 2em auto;
    text-align: justify;
}


/* general sections- eg about, projects
--------------------------- */

.section-container {
    width: 90%;
    margin: 10px auto;
    text-align:justify;
    border-bottom: 3px solid #41BF2D;
}

.projects-container {
    width: 100%;
    margin: 10px auto;
    text-align:justify;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.project {
    text-align:left;
    display: inline-block;
    width: 100%;
    padding: 0em 1em;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    margin-bottom: 1em;
    background-color: #ffffff;
}

.project.dark {
    background-color: #000;
}

.project:hover {
    border: 2px solid #abff77;
}

.section-container p {
    line-height: 1.6;
}


/* special font styles
--------------------------- */

.cool {
    font-weight: 700;
}

.link {
    text-decoration: none;
    font-weight: 600;
    color: #41BF2D;
    -webkit-transition: all 0.3s ease;
}

.link:hover {
    color: #779999;
}

.redd {
    color:#FF1414;
}

.blue {
    color: blue;
}

.green {
    color: #41BF2D;
}


/* footer
--------------------------- */

.footer-container {
    height: 300px;
    width: 100%;
    padding-top: 30px;
    background-color: #ffffff;
    text-align: center;
    -webkit-transition: all 1s ease;
}

.footer-container.dark {
    background-color: #0C0C0C;
}

.social-links a {
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 12px;
    text-decoration:none;
    -webkit-transition: all 0.3s ease;
}

.social-links a:hover {
    opacity: 0.6;
}

.social-links img {
    width: 100%;
    height: 100%;
}

footer p {
    color:#666666;
    font-size: 0.7em;
}


/* media queries
--------------------------- */

@media (min-width: 600px) {

    .about p {
        width: 70%;
    }
    
    .nav {
        width: 600px;
    }
        
    .section-container {
        width: 80%;
        margin: 0px auto;
    }
    
    .project {
        width: 48%;
    }

    .section-content {
        display: inline-block;
        width: 100%;
        margin:auto;
    }
    
}

@media (min-width: 800px) {

    .container {
        margin-left: auto;
        margin-right: auto;
    }
    
    .content-container {
        
    }
    
    .section-container {
        width: 65%;
        max-width: 550px;
        margin: 0px auto;
    }

}